
body {
    background-color: #FBF8F1;
    max-width: 800px;
    margin: auto;

    }
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #C6D57E;
    border-width: 10px;
    width: 75%;
    }
h1 {
    color: #52734D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: #52734D;
    font-family: sans-serif;
    font-style: italic;
}
h3 {
    color: #52734D;
    font-family: sans-serif;
    font-style: italic;
}
th {
    color: #52734D;
}