
body {
    background-color: #FBF8F1;
    }
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #C6D57E;
    border-width: 10px;
    width: 6%;
    }
h1,h2 {
    color: #52734D;
}
h3 {
    color: #52734D;
    font-style: italic;
}
th {
    color: #52734D;
}